html {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  background: #fff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

// img {
//   width: 100%;
// }

.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}

@mixin transition($duration) {
  transition: all $duration ease-out;
}

@function set-text-color($bg-color) {
  @if (lightness($bg-color) < 70) {
    @return #fff;
  } @else {
    @return #000;
  }
}

@mixin set-bg-color($bg-color) {
  background-color: $bg-color;
  color: set-text-color($bg-color);
}

$spaces: (1, 2, 3, 4, 5);
@each $space in $spaces {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background: #262626;
  color: #fff;
  @include transition(0.3s);

  &:hover {
    background: lighten(#262626, 15%);
  }
}

.btn-light {
  @extend .btn;
  background-color: #fff;
  color: #000;

  &:hover {
    background: darken(#fff, 15%);
  }
}

// NAV
.main-nav {
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 2rem 0;
  justify-content: space-between;

  .logo {
    width: 11rem;
  }

  ul {
    display: flex;

    &.main-menu {
      flex: 1; // grow, shrink, basis
      margin-left: 2rem;

      li {
        padding: 0 1rem;

        a {
          padding-bottom: 3px;
          border-bottom: 2px solid transparent;
          @include transition(0.2s);

          &:hover {
            border-bottom: 2px solid #262626;
          }
        }
      }
    }

    &.right-menu {
      li {
        padding: 0 1rem;
        @include transition(0.2s);

        &:hover {
          transform: scale(1.2);
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

// SHOWCASE
.showcase {
  width: 100%;
  height: 40rem;

  background: url(https://i.ibb.co/zGSDGCL/slide1.png) no-repeat center
    center/cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5rem;
  margin-bottom: 2rem;

  h2,
  p {
    margin-bottom: 1rem;
  }

  .btn {
    margin-top: 2rem;
  }
}

// HOME CARDS 1
.home-cards {
  display: grid;
  grid-gap: 2rem;
  //   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(4, 1fr);

  img {
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  a {
    display: inline-block;
    padding-top: 1rem;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    @include transition(0.2s);

    i {
      @include transition(0.3s);
    }

    &:hover {
      border-bottom: 2px solid #0067b8;

      i {
        margin-left: 1rem;
      }
    }
  }
}

// XBOX
.xbox {
  width: 100%;
  height: 35rem;
  background: url(https://i.ibb.co/tBJGPD9/xbox.png) no-repeat center
    center/cover;

  .content {
    width: 40%;
    padding: 5rem 0 0 3rem;
  }

  p {
    margin: 1rem 0 2rem;
  }
}

// CARBON
.carbon {
  height: 35rem;
  width: 100%;
  background: url(https://i.ibb.co/72cgtsz/carbon.jpg) no-repeat center
    center/cover; // repeat postion position/size

  .content {
    color: #fff;
    width: 55%;
    padding: 10rem 0 0 3rem;

    h2,
    p {
      margin-bottom: 2rem;
    }
  }
}

// FOLLOW
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 0;

  & > * {
    margin-right: 1rem;
  }
}

// LINKS
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 1.2rem;
  padding: 3.5rem 0;

  &-inner {
    max-width: 110rem;
    margin: 0 auto;
    // padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    justify-items: start;
    align-items: center;

    li {
      line-height: 2.4;
    }
  }
}

.footer {
  background: #f2f2f2;
  color: #616161;

  font-size: 1.2rem;
  padding: 2rem 0;

  &-inner {
    max-width: 110rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      margin-bottom: 3rem;
      display: flex;
      align-items: center;

      i {
        margin-right: 1rem;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-left: 3rem;
        margin-bottom: 3rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
